@import "../../../styles/base";

.industriesSection {
  padding: $spacing-7xl 0;
  background: #ffffff;

  @include mobile {
    padding: 60px 16px;
  }
}

.container {
  max-width: $container-max-width-desktop;
  margin: 0 auto;
}

.header {
  max-width: 900px;
  margin: 0 auto $spacing-6xl;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    margin-bottom: 40px;
  }
}

.subtitle {
  color: #005AD1;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;

  @include mobile {
    font-size: 14px;
  }
}

.title {
  font-family: $font-secondary;
  text-align: center;
  font-weight: 500;
  font-style: Bold;
  font-size: 32px;
  line-height: 1.2em;
  letter-spacing: -0.96px;
  margin-top: 16px;
  color: #021c2f;
  max-width: 800px;

  @include mobile {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.5px;
  }
}

.industriesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: $spacing-4xl;

  @include mobile {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.industryCard {
  background: #ffffff;
  border: 1.5px solid;
  border-radius: 19px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: all 0.3s ease;
  position: relative;
  min-height: 250px;
  border-bottom: none;
  position: relative;
  @include mobile {
    min-width: 250px;
  }


  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -15px;
    width: 30px;
    height: 50%;
    background: linear-gradient(to top, #fff, transparent);
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0px;

    right: -15px;
    width: 30px;
    height: 50%;
    background: linear-gradient(to top, #fff, transparent);
  }

  &:nth-child(odd) {
    border-color: #2B4BE2;

    .industryTitle {
      color: #2B4BE2;
    }
  }

  &:nth-child(even) {
    border-color: #2CAAAB;

    .industryTitle {
      color: #2CAAAB;
    }
  }

  &:hover {
    transform: translateY(-4px);
  }

  @include mobile {
    padding: 24px 20px;
    gap: 12px;
  }
}


.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;

  @include mobile {
    width: 32px;
    height: 32px;
  }
}

.industryContent {
  margin-top: auto;

  .industryTitle {
    font-family: $font-secondary;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    @include mobile {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .industryDescription {
    font-family: $font-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #021C2F;
    margin-top: 4px;

    @include mobile {
      font-size: 15px;
      line-height: 24px;
    }
  }
}


.statsSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 16px 24px;
  background: linear-gradient(90deg, #E0FFF9 0.06%, #E2E7FF 99.94%);
  border-radius: 16px;
  


  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 16px 19px;
  }
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;

  @include mobile {
    gap: 6px;
  }
}

.statValue {
  font-family: $font-secondary;
  color: #208AE6;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include mobile {
    font-size: 36px;
  }
}

.statLabel {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  @include mobile {
    font-size: 14px;
    line-height: 18px;
  }
}