@import "base";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  @media screen and (max-width: 1280px) {
    font-size: 13px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 11px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
  @media screen and (max-width: 375px) {
    font-size: 16px;
  }
}

body {
  color: $brand-900;
  background: $base-white;
}
a {
  color: inherit;
  text-decoration: none;
}
.app-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
