@import "../../../styles/base";

.featureCardsSection {
  padding: $spacing-8xl 0;
  background: $base-white;

  @include mobile {
    padding: 70px 16px;
  }
}

.container {
  max-width: $container-max-width-desktop;
  margin: 0 auto;

  @include mobile {
    padding: 0px;
  }
}

.intro {
  text-align: center;
  margin-bottom: $spacing-8xl;

  @include mobile {
    margin-bottom: 0px;
  }
}

.kicker {
  color: #005ad1;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
}

.heading {
  color: #0f172a;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;

  @include mobile {
    font-size: 28px;
    line-height: 36px;
  }
}

.description {
  color: #696969;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.cardsGrid {
  margin-top: $spacing-5xl;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-3xl;

  @include mobile {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.card {
  background: $base-white;
  border: 1px solid $gray-200;
  border-radius: $radius-2xl;
  padding: $spacing-4xl $spacing-xl;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  min-height: 350px;
  justify-content: space-between;

  @include mobile {
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 13.495px;
    border: 0.964px solid rgba(36, 19, 106, 0.07);
    background: #F7F8FA;
  }

  .cardContent {
    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .cardTitle {
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #200B56;
    margin-top: 32px;

    @include mobile {
      text-align: center;
    }
  }

  .cardDescription {
    color: #696969;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;

    @include mobile {
      text-align: center;
    }
  }

  .cardIconImage {
    width: 33px;
    height: auto;
  }


}

.heroCard {
  grid-column: span 2;
  background: #2CAAAB;
  position: relative;
  overflow: hidden;
  height: 100%;

  .primaryHeaderRow {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    height: 100%;

    .primaryHeaderRowContent {
      max-width: 240px;

      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
      }
    }

    .heroTagline {
      border-radius: 962.968px;
      border: 0.964px solid #FFF;
      background: #FFF;
      padding: 10px 16px;
      color: #2CAAAB;
      font-family: $font-secondary;
      font-size: 14px;
      font-weight: 700;
      line-height: 15.423px;
      display: inline-flex;

      @include mobile {
        margin: 0 auto;
      }
    }

    .heroIconContainer {
      display: flex;
      align-items: center;
      gap: $spacing-2xl;
      margin-top: 24px;


      @include mobile {
        flex-direction: column;
      }

      .cardTitle {
        color: #ffffff;
        margin-top: 0px;

        @include mobile {
          font-size: 20px;
          line-height: normal;
          text-align: center;
        }
      }
    }

    .checkList {
      max-width: 260px;

      @include mobile {
        margin: 0 auto;
      }

    }
  }

  .sideImageOne {
    position: absolute;
    top: 21px;
    right: 16px;
    width: calc(100% - 290px);
    height: auto;
    object-fit: contain;

    @include mobile {
      display: none;
    }
  }

  .sideImageTwo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 320px);
    height: auto;
    object-fit: contain;

    @include mobile {
      display: none;
    }
  }
}

.heroCopy {
  @include mobile {
    text-align: center;
    margin-top: 22px;
  }
}

.checkList {
  margin-top: $spacing-5xl;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;


  @include mobile {
    max-width: 100%;
    margin-top: 20px;
  }

  li {
    display: flex;
    align-items: center;
    gap: $spacing-md;
    color: #ffffff;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 15.42px;
    line-height: 25.06px;

    @include mobile {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    img {
      width: 13px;
      height: auto;
    }
  }
}

.actionButton {
  background: #200b56 !important;
  border: 1px solid #fff !important;
  margin-top: auto;

  @include mobile {
    margin-top: 20px;
  }
}




.heroIcon {
  width: 38px;
  height: 38px;
}

.heroCopy {
  margin: 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}



.tealCard {
  border-radius: 13.495px;
  border: 0.964px solid rgba(36, 19, 106, 0.07);
  background: #E0FFF9;

  .cardIconImage {
    width: 33px;
    height: auto;
  }
}

.slimCard {
  grid-column: span 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-xl;
  position: relative;
  border: 0.964px solid rgba(36, 19, 106, 0.07);

  background: #E0FFF9;

}

.solidBar {
  width: 100%;
  height: 80px;
  border-radius: $radius-lg;
  background: rgba($brand-500, 0.1);
}

.miniCard {
  grid-column: span 1;
  border: 0.964px solid rgba(36, 19, 106, 0.07);
  background: #E2E7FF;

}




.largeInfoCard {
  grid-column: span 2;
  background: #2B4BE2;
  padding-right: 0px !important;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

.primaryHeaderRow{
  @include mobile {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }
  .cardTitle{
    @include mobile {
      text-align: left !important;
    }
  }
  .checkList{
    @include mobile {
      justify-content: left ;
      align-items: left;
      flex-direction: column;
    }
    li{
      @include mobile {
        justify-content: left;
        align-items: left;
        text-align: left;
      }
    }
  }
}

  .heroTagline {
    color: #2B4BE2 !important;
  }

  .primaryHeaderRow {
    max-width: 310px;
  }

  .sideImageContainer {




    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      max-width: 200px;

      @include mobile {
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: left center;
        max-width: 100%;

      }
    }
  }



}



// Partner Section
.partnerSection {
  margin-top: $spacing-8xl;
  padding: $spacing-6xl 0;

  border-radius: $radius-2xl;
  overflow: hidden;

  @include mobile {
    margin-top: 40px;
    padding: 0px
  }
}

.partnerText {
  text-align: center;
  color: #200b56;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: $spacing-5xl;
}

.marqueeContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marqueeContent {
  display: flex;
  gap: $spacing-9xl;
  animation: marquee 30s linear infinite;
  will-change: transform;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.logoItem {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  padding: 0 $spacing-3xl;
}

.logoText {
  color: #475569;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  opacity: 0.8;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}