@mixin shadow-xs {
  box-shadow: 0px 1px 2px 0px #1018280d;
}
@mixin shadow-sm {
  box-shadow: 0px 1px 2px 0px #1018280f;
  box-shadow: 0px 1px 3px 0px #1018281a;
}
@mixin shadow-md {
  box-shadow: 0px 2px 4px -2px #1018280f;
  box-shadow: 0px 4px 8px -2px #1018281a;
}
@mixin shadow-lg {
  box-shadow: 0px 4px 6px -2px #10182808;
  box-shadow: 0px 12px 16px -4px #10182814;
}
@mixin shadow-xl {
  box-shadow: 0px 24px 48px -12px #1018282e;
}
@mixin shadow-2xl {
  box-shadow: 0px 24px 48px -12px #1018282e;
}
@mixin shadow-3xl {
  box-shadow: 0px 32px 64px -12px #10182824;
}
